@font-face {
    font-family: "Gowun Dodum";
    src: url("gowun-dodum-regular.ttf") format("truetype");
}

body {
    max-width: 620px;
    font-family: "Gowun Dodum", sans-serif;
}

img {
    max-width: 100%;
}

.highlight {
    padding: 0.5em;
}
