<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link href="{{ SITEURL if not RELATIVE_URLS }}/{{ THEME_STATIC_DIR }}/{{ CSS_FILE }}" rel="stylesheet"
          type="text/css">
    <link href="{{ SITEURL if not RELATIVE_URLS }}/{{ THEME_STATIC_DIR }}/code-highlight.css" rel="stylesheet"
          type="text/css">
    <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
</head>

<body>

<header>
    <p class="site-name">
        <strong>{{ SITENAME }}</strong>
        &middot;
    {% block site_links %}
        <a href="{{ SITEURL if not RELATIVE_URLS }}/">chrono index</a>
        &middot;
        <a href="{{ SITEURL if not RELATIVE_URLS }}/alpha">alpha index</a>
    {% endblock %}
    </p>
    <hr>
</header>

<main>
{% block main_content %}{% endblock %}
</main>

<footer>
    <hr>
    <p>&copy; {{ AUTHOR }}</p>
</footer>

</body>

</html>
