{% extends 'base.html' %}

{% block site_links %}
    <a href="{{ SITEURL if not RELATIVE_URLS }}/">chrono index</a> &middot;
    <a href="{{ SITEURL if not RELATIVE_URLS }}/alpha">alpha index</a> &middot;
    drafts
{% endblock %}

{% block main_content %}
    <ul>
        {% for a in drafts %}
            <li>
                <a href="{{ SITEURL if not RELATIVE_URLS }}/{{ a.url }}">{{ a.title }}</a>
                <small>({{ a.locale_date }})</small>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
